*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style navbar menu*/
.nav{
    background-color: rgb(235, 62, 62);
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    color: white;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
}

/* hamburger menu */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle span{
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}
.menu-toggle input{
    position: absolute;
    width: 30px;
    height: 20px;
    left: -1px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
/* hamburger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-2px, 1px);
}

@media screen and (max-width: 576px){
    .menu-toggle{
        display: flex;
    }
    .nav ul{
        position: absolute;
        right: 0;
        margin-top: 20px;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(235, 62, 62);
        z-index: 2;
        width: 100%;
        transform: translateX(0);
        transition: all 1s;
        display: none;
    }
    nav ul.slide{
        transform: translateX(0);
    }
    .footer{
        position: relative;
        margin-top: 100px;
    }
}
.hide{
    display: none;
}

/* style menu try out */
h1{
    text-align: center;
    color: rgb(235, 62, 62);
    margin-top: 30px;
}
.menu-try-out{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    height: 500px;
}
.menu-try-out button{
    height: 200px;
    width: 200px;
    background-color: #ff914d;
    cursor: pointer;
    margin-top: 30px;
    border: 0;
    border-radius: 10px;
}
.menu-try-out button:hover{
    background-color: rgb(235, 62, 62);
    color: white;
}
.menu-try-out h2{
    margin-bottom: 20px;
}

/* style footer */
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(56, 55, 55);
}
.footer p{
    padding: 20px;
}