*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Style Navigation Bar*/
.nav{
    background-color: rgb(235, 62, 62);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    padding: 24px;
    color: white;
}
.nav ul li a.active{
    text-decoration: none;
    padding: 24px;
    background-color: #ff914d;
    color: black;
}
.nav ul li a:hover{
    background-color: #ff914d;
    color: black;
}

/* style menu try out */
h1{
    text-align: center;
    color: rgb(235, 62, 62);
    margin-top: 30px;
}
.menu-try-out{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 500px;
}
.menu-try-out button{
    height: 200px;
    width: 200px;
    background-color: #ff914d;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}
.menu-try-out button:hover{
    background-color: rgb(235, 62, 62);
    color: white;
}
.menu-try-out h2{
    margin-bottom: 20px;
}

/* style footer */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(56, 55, 55);
}
.footer p{
    padding: 20px;
}