*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Style navbar */
.nav{
    background-color: rgb(235, 62, 62);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav ul li a.active{
    text-decoration: none;
    padding: 24px;
    background-color: #ff914d;
    color: black;
}
.nav ul li a{
    text-decoration: none;
    padding: 24px;
    color: white;
}
.nav ul li a:hover{
    background-color: #ff914d;
    color: black;
}

h1{
    text-align: center;
    margin-top: 100px;
    color: rgb(235, 62, 62);
}

/* style footer */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(56, 55, 55);
}
.footer p{
    padding: 20px;
}