*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Style navbar */
.nav{
    background-color: rgb(235, 62, 62);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav ul li a.active{
    text-decoration: none;
    padding: 24px;
    background-color: #ff914d;
    color: black;
}
.nav ul li a{
    text-decoration: none;
    padding: 24px;
    color: white;
}
.nav ul li a:hover{
    background-color: #ff914d;
    color: black;
}

/* style isi */
.intro{
    padding: 80px;
    display: flex;
    justify-content: space-between;
    height: 320px;
}
.intro p{
    text-align: justify;
    padding: 120px;
}
.opsi{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    height: 300px;
}
.opsi p{
    text-align: justify;
    padding: 20px;
    font-size: medium;
}
.opsi button{
    width: 300px;
    height: 250px;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
    background-color: #ff914d;
    transition: all 0.3s;
}
.opsi button:hover{
    transform: scale(1.1);
}

/* style footer */
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(56, 55, 55);
}
.footer p{
    padding: 20px;
}