*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Style Navigation Bar*/
.nav{
    background-color: rgb(235, 62, 62);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    padding: 24px;
    color: white;
}
.nav ul li a.active{
    text-decoration: none;
    padding: 24px;
    background-color: #ff914d;
    color: black;
}
.nav ul li a:hover{
    background-color: #ff914d;
    color: black;
}

.rule h1{
    color: rgb(235, 62, 62);
    text-align: center;
}
.rule ul{
    width: 800px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}

/* style timer */
#timer{
    background-color: #ff914d;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    font-size: 14pt;
}

/* style judul, rulem dan soal*/
.try-out h1{
    text-align: center;
    color: #ff914d;
    margin-top: 30px;
}
.try-out ul{
    margin: 80px 80px;
    list-style: decimal;
}
.input-box{
    width: 200px;
    height: 25px;
    font-size: 12pt;
}

/* tombol submit */
.tombol-submit-answer{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
}
#submit{
    position: absolute;
    height: 30px;
    width: 80px;
}
#answer-submit{
    color: rgb(235, 62, 62);
}

/* tombol lihat nilai dan tombol reset */
.tombol-reset-nilai{
    display: none;
    justify-content: space-between;
    margin-left: 600px;
    margin-right: 600px;
}

/* style semua tombol */
#submit, #lihat-nilai, #reset{
    color: black;
    background-color: #ff914d;
    width: 100px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}
#submit:hover, #lihat-nilai:hover, #reset:hover{
    color: white;
    background-color: rgb(235, 62, 62);
}

/*style footer*/
.footer{
    margin-top: 40px;
    background-color: rgb(56, 55, 55);
    height: 60px;
}
.footer ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 30px;
    padding: 5px;
    margin-left: 320px;
}
.footer ul li{
    margin-left: 40px;
    margin-right: 40px;
}
.footer p{
    text-align: center;
    color: white;
    height: 10px;
}
.footer ul li a{
    text-decoration: none;
    color: white;
}