<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>belajarOlim</title>
    <link rel="stylesheet" href="/materi/template/style.css">
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
<body>
    <nav class="nav">
        <div>
            <h3>BelajarOlim</h3>
        </div>
        <ul>
            <li class="home"><a class="active" href="/index.html">Home</a></li>
            <li class="materi"><a href="/materi/main-frame/index.html">Materi</a></li>
            <li class="ebook"><a href="/e-book/index.html">E-book</a></li>
            <li class="try-out"><a href="/try-out/try-out-frame/index.html">Try Out</a></li>
            <li class="kontes"><a href="/kontes/index.html">Kontes</a></li>
        </ul>
        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <div class="materi-olim">
        <h1></h1>
    </div>
    <div class="latihan">
        <h1>Latihan Soal</h1>
        <form id="practice-form">
            <ul>
                <li>
                    <label><p>Diberikan bilangan real <span class="math inline">\(x,y\)</span>
                        yang memenuhi <span class="math display">\[x+y=2\text{ dan }
                        x^4+y^4=1234.\]</span> Tentukan nilai mutlak dari <span
                        class="math inline">\(xy\)</span>.</p></label><br>
                    <input type="text">
                    <label id="tanda0"></label>
                    <label id="kj0"></label>
                </li>
            </ul>
            <div class="tombol-submit-nilai">
                <button id="submit" type="button" class="tombol-submit" onclick="cekJawaban()"><h3>Submit</h3></button>
                <h3 id="nilai"></h3>
            </div>
            <div class="tombol-reset-kj" id="reset-kj">
                <button id="lihat-kj" type="button" onclick="lihatKj()"><h3>Perlihatkan Kunci Jawaban</h3></button>
                <button id="reset"><h3>Reset</h3></button>
            </div>
        </form>
    </div>
    <div class="footer">
        <p>© 2022 All Rights Reserved | belajarOlim</p>
    </div>
    <script src="script.js"></script>
<body>
</html>